.whole_menu_container
{
	width:250px;
	height:700px;
	background-color:white;
	float:left;
	margin-left:30px;
	margin-top:20px;
}
.product
{
	width:250px;
	height:50px;
	border-radius:10px;
	background-color:#f1f1f1;
	box-shadow:0px 2px 3px 0px;	
	padding-top:5px;
}
.category
{
	width:230px;
	height:600px;
	background-color:#f1f1f1;
	margin-top:20px;
	margin-left:3px;
	border-radius:4px;
	box-shadow:0px 1px 3px 0px;
	padding:7px;
}
.shoes_container
{
	width:1050px;
	height:4600px;
	background-color:white;
	float:left;
}
.shoes1
{
	width:1050px;
	height:400px;
	float:left;
	margin-top:50px;
	background-color:white;
}
.shoes1_container
{
	padding:10px;
	width:250px;
	height:370px;
	float:left;
	margin-left:50px;
	background-color:white;
	cursor:pointer;
}
.shoes1_img1
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img2
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/2.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img3
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/3.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img4
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/4.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img5
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/5.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img6
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/6.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img7
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/7.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img8
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/8.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img9
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/9.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img10
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/10.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img11
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/11.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img12
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/12.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img13
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/13.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img14
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/14.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img15
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/15.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img16
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/16.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img17
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/17.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img18
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/18.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img19
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/19.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img20
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/20.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img21
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/21.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img22
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/22.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img23
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/23.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img24
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/24.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img25
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/25.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img26
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/26.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img27
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/27.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img28
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/28.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img29
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/29.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.shoes1_img30
{
	width:250px;
	height:270px;
	background-image:url(lifestyle/30.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
#border:hover
{
	border:1px solid #999;
}